<button class="btn btn-default" formaction="@ViewBag.Controller/Insert">
    <span class="glyphicon glyphicon-star"></span> Insert
</button>
<button class="btn btn-default" formaction="@ViewBag.Controller/Update">
    <span class="glyphicon glyphicon-star"></span> Update
</button>
<button class="btn btn-default" formaction="@ViewBag.Controller/Delete">
    <span class="glyphicon glyphicon-star"></span> Delete
</button>
<a class="btn btn-default" href="@ViewBag.Controller/Index">
    <span class="glyphicon glyphicon-star"></span> New
</a>